@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu&display=swap');

:root {
  --my-green : #02818c;
  --my-dark-green : #026a73;
  --my-blue: #002d6b;
  --my-cream: #f6f5f0;
  --my-grey: #aaaaaa;
  --my-dark-blue: #001d4b;
  --my-light-blue: #0c6cbe;
  --my-white : #ffffff;
}
html {
  width: 100%;
  font-family: 'Arvo';
}
body{
  margin: 0;
  background-color: var(--my-cream);
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color:var(--my-white);
  border-radius: 0 55px 0 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  /* background-color: rgba(0, 0, 0, 0.3); */
}