.main {
    width: min(calc(100% - 0.8em), 900px);
    height: 100%;
    min-height: 440px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max(60px, 10vh) 1fr 60px;
    row-gap: 10px;
    padding: 0 0.4em;
}
.header > p , .header > h1 {
    margin: 0;
}
.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--my-dark-blue);
    font-size: 0.7rem;
}
.body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    color: var(--my-blue);
    width: 100%;
}
.data {
    grid-area: 1 /1 / 2/3;
}
.contact-photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0;
}
.form {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: max(150px, 30%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px 20px ;
}
.moreInfoSection {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}
.bold {
    /* display: block; */
    font-weight: 600;
    font-size: 0.8rem;
}
.small {
    font-size: 0.9em;
    font-weight: 200;
}
.contact-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: min(3vh, 10px);
}
.moreInfo-button {
    padding: 3px 6px;
    color: var(--my-blue);
    background-color: var(--my-white);
    border: 0.8px solid var(--my-blue);
    border-radius: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 4px;
    font-weight: 900;
    cursor: default;
    z-index: 1;
    font-size: 0.7rem;
    text-shadow: 0;
}
.moreInfo-button:hover {
    background-color: var(--my-blue);
    color: var(--my-white);
    transition: all 0.5s
}
.moreInfo-button:hover .plus-sign {
    transform: scale(1.2);
    transition: transform 0.6s;
}
.plus-sign {
    width: 15px;
    height: 15px;
    border: 1px solid var(--my-blue);
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.whole-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.foot {
    width: 100%;
    height: 100%;
}

/* contact page */
.contact-header {
    display: block;
}
.contact-header h1{
    margin-bottom: 10px;
}

/* intro pages */
.intro-main {
    grid-template-rows: 30px max(300px,35vh) 60px;
    row-gap: 25px;
}
.intro-main h1{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 3rem;
}
.intro-main p.intro-p {
    margin-bottom: 40px;
    line-height: 22px;
    font-size: 0.9em;
}
.intro-main .small {
    font-size: 0.5em;
    font-weight: 900;
}

/* other main pages */
.others-form {
    grid-area: 1 / 1 / 2 / 4;
}
.others-title {
    width: 100%;
}
.others-title > p{
    margin-top: 0;
    width: 80%;
}
.others-main-container {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.others-main {
    grid-template-rows: auto 1fr 60px;
    grid-area: 1 / 1 / 2 / 2;
}
/* description page */
.desc-main {
    grid-template-rows: auto 1fr 60px;
    row-gap: 0;
}
.desc-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.desc-title h1 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}
.desc-title p{
    margin-bottom: 0;
}
.desc-header .preview-button {
    margin-top: 10px;
}
.desc-body {
    margin-top: 3vh;
    margin-bottom: 20px;
    width: 100%;
    height: min(55vh, 300px);
}
/* summary pages */
.summary-data {
    display: flex;   
    flex-direction: column;
}
.data-summary {
    width: 90%;
    min-height: 70px;
    max-height: 80px;
    border: 0.5px solid var(--my-grey);
    border-radius: 6px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 6% 90%;
    column-gap: 4%;
    overflow: hidden;
}
.summary-id {
    grid-area: 1 / 1 / 2 /2;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
    background-color: var(--my-cream);
    border-right: 0.5px solid var(--my-grey);
    border-bottom: 0.5px solid var(--my-grey);
    border-radius: 0 0 8px 0;
}
.data-summary-main {
    align-self: center;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    gap: 5px;
}
.summary-title {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.summary-title .bold {
    font-size: 1em;
}
.add-description {
    color: var(--my-light-blue);
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    font-weight: 600;
}
.add-description:hover :last-child{
    text-decoration:underline;
}
.plus {
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 900;
}
.summary-description {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.8em;
    color: black;
}
.summary-description ul {
    margin-top: 0;
    padding-left: 20px;
}
.summary-buttons {
    display: flex;
    justify-content: center;
}
.summary-button {
    padding: 0;
    aspect-ratio: 1 /1;
    border: none;
    background-color: inherit;
    color: var(--my-light-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.summary-button:hover {
    background-color: var(--my-blue);
    color: var(--my-white);
    transition: all 0.6s;
}
.add-data-container {
    width: 90%;
    border: 1px dashed var(--my-light-blue) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.add-data-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    color: var(--my-light-blue);
    font-weight: 600;
}
 /* education main-page */
.educate-body {
   grid-template-columns: 100%;
   grid-template-rows: auto auto;
   row-gap: 40px;
}
.educate-desc-container{
    padding: 20px;
    padding-top: 10px;
    box-shadow: 1px 1px 10px var(--my-grey);
    border-radius: 6px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: height cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
}
.educate-desc-container.open{
    height: min(500px, 80vh);
}
.educate-desc-container > div > span > svg {
    transition: transform ease-out 0.5s;
}
.educate-desc-container.open > div > span > svg {
    transform: rotate(180deg);
}
.educate-desc-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.educate-desc-title span:hover {
    background-color: #eeeeee;
}
.educate-desc-title span{
    word-spacing: 2px;
    font-weight: 800;
    font-size: 0.7em;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    cursor: pointer;
}
.educate-desc-tip {
    background-color: #e9f4f6;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0.5px solid var(--my-grey);
    font-size: 0.7em;
    font-weight: 600;
}
.desc-tip-head {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 3.5% 1fr;
}
.educate-desc-tip ul {
    font-weight: 100;
}
.educate-desc-container.close {
    height: 170px;
    overflow: hidden;
    gap: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.educate-desc-container .textEditor-container {
    transition: all 0.2s;
}
.educate-desc-container.open .textEditor-container {
    visibility:visible;
    height: 100%;
}
.educate-desc-container.close .textEditor-container {
    height: 0;
    visibility: hidden;
} 
.italic {
    font-style: italic;
}