.preview-container {
    outline: 1px solid var(--my-grey);
    width: 90%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 5px;
    padding: 0 !important;
    cursor: pointer;
}
.preview-button {
    background-color: var(--my-white);
    color: var(--my-light-blue);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.7em;
}
.preview {
    display: flex;
    height: 100%;
    width: 100%;
}
.preview > div {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    overflow: hidden;
}
.leftSide {
    width: 30%;
}
.rightSide {
    position: relative;
    width: 60%;
}
.preview > div > div {
    width: 100%;
}
.preview-container .bold {
    font-size: inherit;
} 
.image-container > img{
    width: 100%;
    height: 100%;
}
.highlight {
    background-color: #faeed6;
    outline: 3px solid #efc778;
}
.leftSide .highlight{
    color: #666666;
}
.rightSide > div > div > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1%;
    
}
.contact-data-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.preview-container .contact-data-container {
    gap: 1px;
}
.svg-container {
    flex: 0 1 1em;
    aspect-ratio: 1;
    color: var(--my-white);
    border-radius: 50%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-container svg {
    width: 1em !important;
    height: 1em !important;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 1em; */
    /* min-height: 2em; */
    aspect-ratio: 1;
}
.image-container svg {
    width: 100%;
    height: 100%;
}
.preview-container h1{
    margin: 5% 0;
}
.preview .between-line {
    min-height: 0.8em;
    height: 100% !important;
}
.preview .between-line{
    height: 10px;
    width: 0;
}
.leftSide .between-line{
    border-color: var(--my-grey);
}
.rightSide .between-line{
    border-color: black;
}
.education-university-data, .education-university-container {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}
.work-data {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--my-grey);
}
.work-desc-container, .education-desc-container{
    display: block !important;
    /* margin-top: 3%; */
    padding-left: 1.3em;
}
.education-data-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    border-bottom: 1px solid var(--my-grey);
}
.work-employer-container {
    display: flex;
    gap: 1% !important;
}
.preview ul {
    padding-left: 0;
}
.main-container > .preview-background {
    grid-area: 1 / 1/ -1 / -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 0;
    z-index: 1;
}
.preview-background > .preview {
    width: min(90%, 750px);
}
.preview .close-button {
    position: absolute;
    right: 0;
    top: 0;
    aspect-ratio: 1;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.preview .close-button svg {
    width: 100%;
    height: 100%;
}
.final-body .preview {
    min-height: min(500px, 90vh);
}