.progressBar{
    display: flex;
    padding-top: 5px;
}
.progressBar-circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 20px;
}
.progressBar-circle {
    border: 1px solid var(--my-grey);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 200;
}
.progressBar-circle-name{
    font-size: 12px;
    font-weight: 200;
    width: min(10vw, 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.progressBar-circle.active {
    border: 2px solid var(--my-green);
    font-weight: 600;
}
.progressBar-circle.complete {
    background-color: var(--my-green);
    color: var(--my-cream);
    border-color: var(--my-green);
}
.progressBar-circle.active + span{
    font-weight: 600;
}
.progressBar-line { 
    position: relative;
    top: 9px;
    width: min(10vw, 150px);
    height: 0;
    border: 0.5px solid var(--my-grey);
}
.progressBar-line.active {
    border: 1px solid var(--my-green);
}