.input-container >  input {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    border: none;
    color: var(--my-blue);
    caret-color: var(--my-green);
}
.input-container >  input:focus {
    outline: none;
}
.input-container >  input::placeholder {
    color: var(--my-grey);
    font-size: 0.7rem;
}
label {
    font-size: 0.6rem;
    font-weight: 600;
}
.whole-input-container {
    width: calc(100% - 20px);
}
.half {
    width: calc(50% - 20px);
}
.input-container {
    width: calc(100% - 0.6em);
    height: 25px;
    padding: 0.3em;
    outline: 1px solid var(--my-grey);
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 20px;
    align-items: center;
}
.input-container.active {
    outline-color: var(--my-green);
    outline-width: 1.5px;
}
.validation-container, .remove-container {
    height: 20px;
    width: 20px;
    display: grid;
    grid-template-columns: 20px;
    grid-template-rows: 20px;
    justify-content: center;
    align-content: center;
}
.validation-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.valid-input{
    color: green;
}
.inValid-input{
    color: red;
}
.input-container svg {
    width: 100%;
    height: 100%;
}
.remove-btn {
    border: none;
    outline: none;
    background-color: var(--my-white);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--my-light-blue);
    border-radius: 50%;
    cursor: pointer;
}
.remove-btn:hover {
    color: red
}
.red {
    outline-color: red;
    outline-width: 1.5px;
}